/* xl */
@media (max-width:1399px) {
    .containar {
        max-width: 1140px;
    }

    .contect1 {
        display: block;
        left: 20%;
    }
}

/* lg */
@media (max-width:1199px) {
    .containar {
        max-width: 960px;
    }

    .w-lg-1 {
        width: 100%;
    }

    .about video {
        margin-left: 50% !important;
    }

    .about .about-img h2 {
        left: 56%;
    }

    .about .about-overlay1 {
        left: 26%
    }

    .about .about-overlay2 {
        left: 40%
    }

    .about-content {
        margin-top: 300px;
    }

    .about-content .ac-part {
        justify-content: space-around;
    }

    .Techniques,
    .contect1 {
        display: none !important;
    }

    .Techniques-content img {
        top: 120px;
    }

    .Techniques-content p {
        margin-top: 95px;
    }

    .contect2 {
        right: 0;
    }
}

/* md */
@media (max-width:991px) {
    .containar {
        max-width: 720px;
    }

    .w-md-1 {
        width: 100%;
    }

    .w-md-2 {
        width: 50%;
    }

    header nav {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #a1bd71;
        opacity: 0;
    }

    header nav ul {
        flex-direction: column;
        align-items: start !important;
    }

    header nav ul li:last-child {
        display: none;
    }

    header nav ul li {
        margin: 8px 0;
    }

    .menu-btn {
        display: block;
    }

    .menu-btn:hover header nav {
        display: block !important;
    }

    .benner h1 {
        top: 160px;
        font-size: 150px;
    }

    .about .about-overlay1 {
        left: 15%;
    }

    .about .about-img h2 {
        left: 60%;
    }

    .farm-part2 {
        height: 500px;
    }

    .farm-part1 {
        border-top-right-radius: 50px;
        border-bottom-left-radius: 0px;
    }

    .farm-part2 {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 50px;
    }

    .farm-overlay2 {
        width: 80%;
    }

    .products .products-content h5 {
        text-decoration: underline;
    }

    .feedbake-title img,
    .Top-notch-overley1,
    .Top-notch-overley,
    .products .products-content h5::before,
    .products .products-content h5::after {
        display: none;
    }

    .feedbake-title h2 {
        font-size: 32px;
    }

    .Top-notch-btn {
        margin-top: 0;
    }


    .technique-item {
        margin-top: 0;
    }

    .news-item .btn {
        width: 100%;
    }

    .contect form,
    .contect-title {
        justify-content: center !important;
    }

    .contect-title {
        text-align: center;
        margin-bottom: 35px;
    }

    .contect2 {
        right: 0;
    }
}

/* sm */
@media (max-width:767px) {
    .containar {
        max-width: 540px;
    }

    .w-sm-1 {
        width: 100%;
    }

    .benner h1 {
        top: 210px;
        font-size: 100px;
    }

    .benner .benner-content h3 {
        font-size: 30px;
    }

    .about video {
        margin-left: 40% !important;
        width: 285px;
        height: 500px;
    }

    .about .about-img h2 {
        left: 45%;
    }

    .about .about-overlay1 {
        left: 3%
    }

    .about .about-overlay2 {
        left: 22%;
    }

    .about-content .ac-part div {
        margin: 5px 0;
    }

    .product-title p,
    .product-item .product-content p,
    .contect-title p {
        width: 100%;
    }

    .contect2 {
        display: none;
    }
}

/* xs */
@media (max-width:575px) {
    .containar {
        max-width: 100%;
    }

    .w-xs-1 {
        width: 100%;
    }

    .about .about-img {
        display: none;
    }

    .about-content {
        margin-top: 0;
    }

    .about-content .ac-part .d-flex {
        display: block;
    }

    .about-content .ac-part h4 {
        margin-top: 10px;
    }

    .product-title h2,
    .technique-title h2,
    .Farm-to-Home h2,
    .products-title h2,
    .feedbake-title h2,
    .Top-notch-title h2,
    .news-title h2,
    .contect-title h2 {
        font-size: 32px;
    }

    .benner h1 {
        top: 250px;
        font-size: 60px;
    }

    .benner .benner-content h3 {
        font-size: 18px;
    }

    .farm-part1 .d-flex {
        flex-direction: column;
    }

    .farm-part1 p {
        margin: 15px 0 15px 0;
    }

    .farm-part2 {
        border-bottom-right-radius: 50px;
        height: 720px;
    }

    .farm-part2 p {
        font-size: 16px;
    }

    .farm-overlay3 {
        right: 0;
        width: 280px;
        height: 70px;
    }

    .farm-overlay2 {
        width: 100%;
    }

    .contect form {
        flex-direction: column;
    }

    .contect form input {
        width: 100%;
        margin-bottom: 12px;
    }

    .footer-part2 {
        padding: 0;
    }

    .footer-title {
        margin-top: 20px;
    }
}