* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --theme-color: #41574b;
    --btn-color: #f7c35f;
}

.container {
    max-width: 1140px;
    padding: 0 20px;
    margin: 0 auto;
}

a {
    display: inline-block;
    text-decoration: none;
}

li {
    list-style: none;
}

.d-flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.flex-col {
    flex-direction: column;
}

.text-center {
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.w-2 {
    width: 50%;
}

.w-3 {
    width: 33.33%;
}

.w-4 {
    width: 25%;
}

.w-66 {
    width: 66.66%;
}

.py {
    padding: 50px 0;
}

body {
    font-family: "Montserrat", sans-serif;
}

/* header  */
header {
    padding: 20px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}

nav ul li {
    margin: 0 3px;
}

nav ul li a {
    font-size: 18px;
    color: var(--theme-color);
    padding: 8px 20px;
    border-radius: 7px;
    transition: all 0.3s linear;
    z-index: 99;
}

nav ul li a:hover,
nav ul li:first-child a {
    background-color: var(--theme-color);
    color: white;
}

nav ul li:nth-child(6) a {
    background-color: var(--btn-color);
    color: black;
    transition: all 0.3s linear;
}

nav ul li:nth-child(6) a:hover {
    background-color: white;
}

nav ul li:last-child a {
    background-color: transparent;
    color: black;
    transition: all 0.3s linear;
}

.menu-btn {
    font-size: 25px;
    color: white;
    border: 2px solid white;
    padding: 8px 10px;
    border-radius: 5px;
    display: none;
}

/* banner */
.benner {
    background-image: url(../images/benner.jpg);
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.benner h1 {
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 200px;
    font-weight: 700;
    color: white;
}

.benner .benner-overlay {
    background-image: url(../images/benner-overlay.png);
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
}

.benner .benner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;
    text-align: center;
    color: white;
}

.benner .benner-content h3 {
    font-size: 50px;
    font-weight: 400;
}

.benner .benner-content a {
    background-color: white;
    color: black;
    margin-top: 45px;
    padding: 15px 30px;
    border-radius: 7px;
    transition: all 0.3s linear;
}

.benner .benner-content a:hover {
    background-color: var(--btn-color);
}

/* about */
/* .about .about-img {
    position: relative;
}

.about img {
    border: 15px solid white;
    border-radius: 100px;
    width: 200px;
}

.about .about-overlay1 {
    position: absolute;
    bottom: -315px;
    left: 100px;
    border-radius: 100px;
    background-image: url('../images/about-2.jpg');
    width: 200px;
    height: 310px;
    border: 10px solid white;
}

.about .about-overlay2 {
    position: absolute;
    bottom: -315px;
    left: 100px;
    border-radius: 100px;
    background-image: url('../images/about-video.mp4');
    width: 200px;
    height: 310px;
    z-index: 99;
    border: 10px solid white;
}

.about video {
    position: absolute;
    bottom: -315px;
    left: 40%;
    border-radius: 200px;
    object-fit: cover;
    width: 325px;
    height: 625px;
    z-index: -1;
} */
.about-img {
    position: relative;
}

.about video {
    border-radius: 200px;
    object-fit: cover;
    width: 325px;
    height: 625px;
    z-index: -1;
    margin-left: 35% !important;
}

.about .about-img h2 {
    text-align: center;
    color: white;
    font-size: 22px;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translateY(-50%);
    z-index: 9;
}

.about .about-overlay1 {
    position: absolute;
    bottom: 50%;
    left: -20px;
    border-radius: 100px;
    background-image: url('../images/about-1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 310px;
    z-index: 99;
    border: 10px solid white;
}

.about .about-overlay2 {
    position: absolute;
    bottom: -50px;
    left: 100px;
    border-radius: 100px;
    background-image: url('../images/about-2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 310px;
    border: 10px solid white;
}

.about-content {
    padding: 25px;
}

.about-content h2 {
    color: var(--theme-color);
    font-size: 40px;
    font-weight: 600;
    margin: 25px 0;
}

.about-content p {
    color: #767676;
}

.about-content .ac-part {
    background-image: url('../images/about-content.svg'), linear-gradient(90deg, #c8dfa1, #e4edd4);
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    margin: 25px 0;
}

.about-content img {
    padding: 10px;
    width: 50px;
    background-color: white;
}

.about-content .check i {
    background-color: #a1bd71;
    padding: 5px;
    border-radius: 50%;
    color: white;
    font-size: 18px;
    margin: 5px 10px 5px 0;
}

.about-content a,
.Products-btn,
.Top-notch-btn {
    padding: 15px 30px;
    margin: 25px 0;
    border-radius: 8px;
    background-color: var(--theme-color);
    color: white;
    transition: all 0.3s linear;
}

.about-content a:hover,
.Products-btn:hover,
.Top-notch-btn:hover {
    background-color: var(--btn-color);
}

/* product */
.product {
    background-color: #e6f3ec;
    margin-top: 75px;
    border-radius: 50px;
    overflow: hidden;
    position: relative;
}

.product-overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    background-image: url(../images/product-bg.png);
    width: 355px;
    height: 530px;
    z-index: 9;
}

.product .w-3 {
    z-index: 99;
}

.product-title,
.products-title {
    margin: 25px 0;
}

.product-title h2,
.technique-title h2,
.Farm-to-Home h2,
.products-title h2,
.feedbake-title h2,
.Top-notch-title h2,
.news-title h2,
.contect-title h2 {
    font-size: 50px;
    font-weight: 600;
    line-height: 50px;
    margin-bottom: 20px;
    color: #41574b;
}

.product-title p,
.product-item .product-content p,
.contect-title p {
    font-size: 18px;
    color: #767676;
    width: 55%;
    margin: 0 auto;
}

.product-item {
    background-color: white;
    border-radius: 30px;
    padding: 40px;
    margin: 5px;
    height: 425px;
}

.product-item img {
    width: 200px;
    margin: 0 auto;
}

.product-item .product-content h5 {
    font-weight: 600;
    font-size: 18px;
    margin: 30px 0;
    position: relative;
}

.product-item .product-content h5::after,
.product-item .product-content h5::before {
    content: '';
    position: absolute;
    bottom: -12px;
    left: 0;
    width: 40px;
    height: 4px;
    background-color: var(--theme-color);
}

.product-item .product-content h5::before {
    left: 40px;
    background-color: var(--btn-color);
    width: 30px;
}

.product-item .product-content p {
    font-size: 16px;
    width: 100%;
}

/* Techniques */
.technique-title h2 {
    width: 35%;
    line-height: 55px;
}

.Techniques-content {
    margin-top: 25px;
    position: relative;
}

.Techniques-content img {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    z-index: -1;
}

.Techniques-content .w-4 {
    padding-left: 25px;
}

.Techniques-content h2 {
    font-size: 60px;
    font-weight: 600;
    color: #a1bd71;
}

.Techniques-content h4 {
    font-size: 20px;
    font-weight: 600;
    color: var(--theme-color);
}

.Techniques-content p {
    margin-top: 70px;
    color: #767676;
}


/* Farm-to-Home */
.Farm-to-Home h2 {
    width: 85%;
}

.farm-part1 {
    background-color: #a1bd71;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 40px;
}

.farm-part1 h3 {
    font-size: 70px;
    color: var(--theme-color);
}

.farm-part1 p {
    color: white;
    margin-left: 35px;
    font-size: 22px;
    letter-spacing: 2px;
}

.farm-part1 h6 {
    font-size: 20px;
    letter-spacing: 5px;
    color: var(--theme-color);
    margin-top: 15px;
}

.farm-part2 {
    background-color: #a1bd71;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding: 40px;
    height: 100%;
    position: relative;
}

.farm-content2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 50px;
}

.farm-part2 h3 {
    font-size: 30px;
    color: var(--theme-color);
    margin-bottom: 25px;
    z-index: 9 !important;
}

.farm-part2 a i {
    font-size: 22px;
    background-color: var(--theme-color);
    color: white;
    padding: 5px;
    border-radius: 50%;
    margin-right: 10px;
}

.farm-part2 h4 {
    font-size: 22px;
    color: #41574b;
    margin-bottom: 5px;
}

.farm-part2 p {
    font-size: 18px;
    line-height: 25px;
    color: #131313;
}

.farm-overlay1 {
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 50px;
    background-image: url('../images/farm-1.svg'), linear-gradient(#b9d48a, #a1bd71 70%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 93%;
    height: 185px;
}

.farm-overlay2 {
    position: absolute;
    bottom: 0;
    right: 0;
    background-image: url('../images/farm-2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    width: 100%;
    height: 220px;
}

.farm-overlay3 {
    position: absolute;
    bottom: 0;
    right: -25px;
    background-image: url('../images/farm-3.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 9;
    width: 400px;
    height: 100px;
}

/* products */
.products {
    width: 100%;
    height: 100%;
    background-image: url('../images/products-bg.svg'), linear-gradient(#fff, #fff 13%, #ffeddf 55%, #fff);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

.products .products-content h5 {
    font-size: 20px;
    font-weight: 600;
    color: var(--theme-color);
    margin: 50px 0;
    position: relative;
}

.products .products-content h5::after,
.products .products-content h5::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 43%;
    height: 2px;
    background-color: var(--btn-color);
}

.products .products-content h5::before {
    left: 57%;
}

.products-item img {
    border-radius: 30px;
    transition: all 0.3s linear;
}

.products-img:hover {
    background-color: white;
    border-radius: 35px;
}

.products-item img:hover {
    transform: scale(1.2);
}

.products-price {
    padding: 8px 0 0 30px;
}

.products-item a {
    color: var(--theme-color);
    font-weight: 600;
    font-size: 20px;
    margin: 12px 0 8px 0;
}

.products h4 {
    font-weight: 500;
    color: #767676;
}

.Products-btn {
    background-color: #e6f3ec;
    color: var(--theme-color);
    font-weight: 500;
    margin: 50px 0;
}

.Products-btn {
    color: black;
}

/* feedback */
.feedbake-title h2 {
    font-size: 42px;
}

.feedbacks-item {
    padding: 10px;
    margin: 25px;
}

.feedbacks-item img {
    width: 85px;
    border-radius: 50%;
}

.feedbacks-details {
    padding: 10px;
}

.feedbacks-details h3 {
    font-weight: 600;
    margin-bottom: 8px;
    color: var(--theme-color);
}

.feedbacks-details h4 {
    font-weight: 600;
    color: #a1bd71;
}

.feedbacks-item p {
    margin-top: 15px;
    line-height: 25px;
    font-weight: 400;
    color: #767676;
}

/* Top-notch */
.Top-notch {
    background-color: #e6f3ec;
    border-radius: 50px;
    position: relative;
}

.Top-notch-item {
    position: relative;
    padding: 20px;
}

.Top-notch-item img {
    border-radius: 50px;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(2, 13, 2, .57));
}

.Top-notch-details {
    position: absolute;
    bottom: 45px;
    left: 35px;
    z-index: 9;
    color: white;
    padding: 10px;
}

.Top-notch-details h3 {
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 8px;
}

.Top-notch-details h6 {
    font-weight: 500;
    font-size: 20px;
}

.Top-notch-item a {
    position: absolute;
    top: 45px;
    right: 45px;
    color: black;
    background-color: white;
    border-radius: 50%;
    padding: 5px 7px;
    font-size: 30px;
    display: none;
    transition: all 0.3s linear;
}

.Top-notch-item:hover a {
    display: block;
}

.Top-notch-overley {
    background-image: url('../images/Top-notchbg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    bottom: -80px;
    left: -60px;
    width: 500px;
    height: 455px;
    z-index: 99 !important;
}

.Top-notch-overley1 {
    background-image: url('../images/Top-notchbg2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 335px;
    height: 170px;
    z-index: 9 !important;
}

.Top-notch-btn {
    margin-top: 100px;
}

/* news  */
.news {
    margin-top: 75px;
}

.news-item {
    padding: 15px;
}

.news-item .btn {
    border-radius: 25px;
    position: relative;
}

.news-item .btn img {
    object-fit: cover;
    border-radius: 25px;
    transition: all 0.3s linear;
}

.news-item .btn img:hover {
    transform: scale(1.2);
}

.news-item .btn span {
    position: absolute;
    bottom: -18px;
    left: 22px;
    background-color: black;
    text-transform: uppercase;
    font-size: 14px;
    color: white;
    border-radius: 10px;
    padding: 8px 12px;
    z-index: 9;
    transition: all 0.3s linear;
}

.news-item .btn span:hover {
    background-color: var(--theme-color);
}

.news-item .news-detail {
    margin-top: 25px;
    color: var(--theme-color);
    font-size: 14px;
}

.news-item .news-detail i {
    color: #a1bd71;
}

.news-item .news-detail a {
    color: var(--theme-color);
    transition: all 0.3s linear;
}

.news-item .news-detail a:hover {
    text-decoration: underline;
}

.news-item h3 {
    margin: 15px 0;
    font-weight: 600;
    color: var(--theme-color);
    transition: all 0.2s linear;
}

.news-item h3:hover {
    color: #a1bd71;
}

.news-item .news-btn {
    font-weight: 500;
    padding: 12px 15px;
    border-radius: 8px;
    color: var(--theme-color);
    background-color: var(--btn-color);
    transition: all 0.3s linear;
}

.news-item .news-btn:hover {
    background-color: var(--theme-color);
    color: white;
}

/* contact */
.contect {
    position: relative;
}

.contect .row {
    background-color: #ebebdd;
    border-radius: 25px;
}

.contect-title h2 {
    font-size: 35px;
}

.contect-title p {
    width: 90%;
    margin: 0;
}

form input {
    border-radius: 11px;
    padding: 20px;
    border: none;
    width: 65%;
    margin-right: 8px;
}

form input::placeholder {
    font-size: 16px;
}

form button {
    border-radius: 10px;
    background-color: greenyellow;
    border: none;
    font-size: 18px;
    background-color: var(--theme-color);
    color: white;
    padding: 18px 32px;
    transition: all 0.3s linear;
}

form button:hover {
    background-color: var(--btn-color);
    color: black;
}

.contect1 {
    position: absolute;
    top: 35px;
    left: 400px;
    background-image: url('../images/contect1.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 770px;
    height: 325px;
}

.contect2 {
    position: absolute;
    top: 50px;
    right: 125px;
    background-image: url('../images/contect2.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 250px;
    height: 320px;
}

/* footer */
footer {
    position: relative;
}

.footer-overly {
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(#f5f5f5, rgba(255, 255, 255, .58) 19%, rgba(217, 217, 217, 0) 47%), url('../images/footer-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.footer-part1 img {
    width: 175px;
    margin-bottom: 25px;
}

.footer-part1 h4 {
    font-size: 20px;
    font-weight: 600;
    color: black;
    margin: 10px 0;
}

.footer-part1 p {
    font-size: 17px;
    font-weight: 500;
}

.footer-part1 .social {
    margin-top: 15px;
}

.footer-part1 .social a i {
    margin-right: 3px;
    font-size: 25px;
    color: var(--theme-color);
}

.footer-part1 .social a:hover i {
    color: #a1bd71;
}

.footer-title h4 {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
    position: relative;
}

.footer-title h4::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 25px;
    height: 4px;
    background-color: #a1bd71;
}

.footer-title h4::before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 25px;
    width: 20px;
    height: 4px;
    background-color: var(--btn-color);
}

.footer-part2 {
    padding: 0 25px;
}

.footer-part2 ul li a {
    color: black;
    margin: 5px 0;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.3s linear;
}

.footer-part2 ul li a:hover,
.footer-part3 .fpart3-item a:hover,
.copyright a:hover {
    text-decoration: underline;
}

.footer-part3 {
    padding: 0 18px 0 0;
}

.fpart3-item {
    padding: 20px 8px 20px 0;
}

.footer-part3 .fpart3-item i {
    padding: 10px;
    color: white;
    font-size: 30px;
    border-radius: 50%;
}

.footer-part3 .fpart3-item p,
.footer-part3 .fpart3-item a,
.footer-part4 p {
    margin-left: 18px;
    font-size: 18px;
    font-weight: 500;
    color: black;
}

.footer-part3 .fpart3-item a {
    margin: 5px 0 0 18px;
}

.footer-part4 p {
    margin: 8px 0 0 18px;
}

/* copyright */
.copyright {
    padding-top: 150PX;
}

.copyright p,
.copyright a {
    color: white;
    font-size: 14px;
    font-weight: 500;
}

.copyright .copy-link a {
    padding: 0 8px;
    border-right: 3px white solid;
}